section {
    background-image: url("image/bg-image.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* This makes the form look like frosted glass */
.card {
    background-color: rgba(255, 255, 255, 0.4) !important; /* Semi-transparent white */
    backdrop-filter: blur(15px); /* Blurs the food image behind the card */
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
}

.form-control {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
}
.btn-success {
    background-color: #28a745;
    border: none;
    transition: 0.3s ease;
}

.btn-success:hover {
    background-color: #218838;
    transform: translateY(-2px);
}